<div class="centered">
	<h1>Yet Another Twitter Puzzle</h1><br />
	<p>
	<% @sorted1.each do |tushar| %>
		<%= tushar[0] %><br>
		<%= tushar[1] %><br>
		<img src="<%= tushar[2] %>" class="round" /><br>
	<% end %>
	</p>
</div>